

/* Profile Grid system */
.biogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 100%;
  grid-gap: 10px;
  grid-template-areas:
  "item_f item_f item_f"
  "item_g item_g item_g"
  "item_h item_h item_h"

}

.item_f {
  grid-area: item_f;
  text-align: center;
}

.item_g {
  grid-area: item_g;
  text-align: center;
  float: center;
}

.item_h {
  grid-area: item_h;
  text-align: center;
}
.biogrid div:nth-child(even) {
  background-color: red;
}

.biogrid div:nth-child(odd) {
  background-color: green;
}

section {
  padding-top: 100px;
}

/* End*/

/* Pitchfilm Grid system */
.demoreel {
  color: white;
  background-color: #333333;
}

#profilepic {
  border-radius: 50%;
  float: center;
}

.profilemaincontent {
  max-width: 800px;
  min-width: 400px;
  grid-area: main;

}

profilecontainer {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.userinfo {
  text-align:center;
  width: 200px;

}

.creatorcomment {
  max-width: 400px;
  min-width: 200px;
  float: right;
}

.grid {
  display: grid;
  padding-top: 150px;
  margin-right: 25px;
  margin-left: 25px;
  max-width: 100%;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "item_a item_a item_a  item_a item_e"
  "item_b  item_c item_c item_c item_c"
  "item_d item_d item_d item_d item_d"


}

.grid div:nth-child(even) {
  background-color: red;
}

.grid div:nth-child(odd) {
  background-color: green;
}


.item {
  display: table-cell;
  color: red:

}
.item_a {
  grid-area: item_a;
  text-align: center;
}

.item_b {
  grid-area: item_b;
}

.item_c {
  grid-area: item_c;

}

.item_d {
  grid-area: item_d;

}

.item_e {
  grid-area: item_e;

}

body {
  min-width: 600px;
}

a {
  color: black;
}

@media screen (min-width: 736px) {
  .grid {
    display: grid;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 25px;
    max-width: 100%;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "item_a item_a item_a item_e"
    "item_b  item_c item_c item_e"
    "item_d item_d item_d item_e"
  }

  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr:
    grid-row: 1fr 1fr;
    width: 1000px;
    grid-template-areas:
    "pitcharea ad_space"
  }

.pitcharea {
  grid-area: pitcharea;
}

.ad_space {
  grid-area: ad_space;
}

.pitchgrid div:nth-child(even) {
  background-color: red;
}

.pitchgrid div:nth-child(odd) {
  background-color: green;
}
