.demoreel {
  color: white;
  background-color: #333333;
}

#profilepic {
  border-radius: 50%;
  float: left;
  margin-right: 200px;


}

.profilemaincontent {
  max-width: 800px;
  min-width: 400px;
  grid-area: main;

}

profilecontainer {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.userinfo {
  text-align:left;
  margin-top: 150px;
  margin-bottom: 30px;
  max-width: 200px;
  margin-left: 25px;
  float:left;
}

.creatorcomment {
  max-width: 400px;
  min-width: 200px;
  float: right;
}

.grid {
  display: grid;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 25px;
  max-width: 100%;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "item_a item_a item_a  item_a item_e"
  "item_b  item_c item_c item_c item_c"
  "item_d item_d item_d item_d item_d"


}

.grid div:nth-child(even) {
  background-color: red;
}

.grid div:nth-child(odd) {
  background-color: green;
}


.item {
  display: table-cell;
  color: red:

}
.item_a {
  grid-area: item_a;
  text-align: center;
}

.item_b {
  grid-area: item_b;
}

.item_c {
  grid-area: item_c;

}

.item_d {
  grid-area: item_d;

}

.item_e {
  grid-area: item_e;

}

body {
  min-width: 600px;
}

a {
  color: black;
}

@media screen (min-width: 736px) {
  .grid {
    display: grid;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 25px;
    max-width: 100%;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "item_a item_a item_a item_e"
    "item_b  item_c item_c item_e"
    "item_d item_d item_d item_e"
  }
